{% extends 'base.html' %}

{% load static %}

{% block aboutTabbedNavigation %}

  <!-- SUB NAV Tab Content -->
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#built-by">Built By</a></li>
      <li class="tab"><a href="#built-with">Built With</a></li>
      <li class="tab"><a href="#acknowledgements">Acknowledgements</a></li>
    </ul>
  </div>

  {% endblock aboutTabbedNavigation %}

  {% block Content %}

  <div class="container tabbed-page-container"> <!-- Page content to go within container -->

  <div class="section"></div>

  <div class="section about">

    <!-- Tab 1 -->
    <div id="built-by">
      <h3 class="center">Built By</h3>

      <!-- TODO Add modal with more info about The Codokans and links to our respective sites -->

      <ul class="collection the-codokans">
        <!-- Team Member 1 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/alex-jermstad-1.jpg' %}" alt="Alex Jermstad" class="circle">
              <span class="title">Alex Jermstad</span>
              <p>
                <a href="https://www.twitter.com/ajermstad"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Designed with Materialize CSS & Patricles JS">brush</i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django & Javascript"></i></div>
            <div class="col s1"><i class="fas fa-code-branch tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS"></i></div>
            <div class="col s1"><i class="fab fa-css3 tooltipped" data-position="bottom" data-delay="0" data-tooltip="CSS"></i></div>
            <div class="col s1"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5"></i></div>

          </div>
        </li>
        <!-- Team Member 2 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/britton-forsyth-1.jpg' %}" alt="Britton Forsyth" class="circle">
              <span class="title">Britton Forsyth</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>

        <!-- Team Member 3 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/jack-hinshelwood-1.jpg' %}" alt="Jack Hinshelwood" class="circle">
              <span class="title">Jack Hinshelwood</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>

        <!-- Team Member 4 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/nathan-sibai-1.jpg' %}" alt="Nathan Al Sibai" class="circle">
              <span class="title">Nathan Al Sibai</span>
              <p>
                <i class="fab greyed fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i>
                <i class="fab greyed fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>

        <!-- Team Member 5 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/nicolas-volken-1.jpg' %}" alt="Nicolas Volken" class="circle">
              <span class="title">Nicolas Volken</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>

        <!-- Team Member 6 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/paul-muresan-1.jpg' %}" alt="Paul Muresan" class="circle">
              <span class="title">Paul Muresan</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>

        <!-- Team Member 7 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/saadman-sakib-1.jpg' %}" alt="Saadman Sakib" class="circle">
              <span class="title">Saadman Sakib</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>
        <!-- Team Member 8 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/shayne-alchoon-1.jpg' %}" alt="Shayne Alchoon" class="circle">
              <span class="title">Shayne Alchoon</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>
        <!-- Team Member 9 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s3">
              <img src="{% static 'images/the-codokans/wonjoon-seol-1.jpg' %}" alt="Wonjoon Seol" class="circle">
              <span class="title">Wonjoon Seol</span>
              <p>
                <a href="#!"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
                <a href="#!"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons">code</i></a>
            </div>
            <div class="col s1"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS">timeline</i></div>
            <div class="col s1"><i class="fas fa-upload tooltipped" data-position="bottom" data-delay="0" data-tooltip="Heroku Deployment"></i></div>
            <div class="col s1"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Bug Extermination">bug_report</i></div>
            <div class="col s1"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            <div class="col s1"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Design"></i></div>
          </div>
        </li>
      </ul>
      <section class="about-intro center">
        <p>Originally developed by Mathieu Jacomy at the <a href="http://medialab.sciences-po.fr/">Sciences-Po Medialab</a>.</p>
        <p>Refreshed, refactored and tuned up by <a href="#">The Codokans</a> in March 2018, a second year undergraduate computer science team from <a href="https://www.kcl.ac.uk/">King's College London</a>.</p>
      </section>
    </div>

    <!-- Tab 2 -->
    <div id="built-with" >
      <h3 class="center">Built With</h3>

      <h6 class="white-text center tagline">Tools & Frameworks Used</h6>
      <br>

      <div class="row center" style="margin-top:40px;">
        <div class="col s3">
            <a href="https://www.python.org/">
              <img id="python-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/python-logo.png' %}" />
            </a>
        </div>
        <div class="col s3">
          <a href="https://www.djangoproject.com/">
            <img id="django-logo " class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/django-logo.png' %}" />
          </a>
        </div>
        <div class="col s3">
          <a href="https://www.heroku.com/">
            <img id="heroku-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/heroku-logo.png' %}" />
          </a>
        </div>
        <div class="col s3">
          <a href="https://jquery.com/">
            <img id="jquery-logo" class="responsive-img built-with-logo-square" src="{% static 'images/tools/jquery-logo.gif' %}" />
          </a>
        </div>

      </div>
      <div class="row center" style="margin-bottom:40px;">
        <div class="col s3">
            <a href="http://materializecss.com/">
              <img id="materialize-logo" class="responsive-img built-with-logo-square" src="{% static 'images/tools/materialize-logo.png' %}" />
            </a>
        </div>

        <div class="col s3">
          <a href="https://vincentgarreau.com/particles.js/">
            <img id="particles-js-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/particles-js-logo.png' %}" />
          </a>
        </div>

        <div class="col s3">
          <a href="http://sigmajs.org/">
            <img id="sigma-js-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/sigma-js-logo.png' %}"/>
          </a>
        </div>
      </div>

    </div>

    <!-- Tab 3 -->
    <div id="acknowledgements">
      <h3 class="center">Acknowledgements</h3>

      <h6 class="white-text center tagline">With thanks to:</h6>
      <ul>
        <li><b>Dr. Jeroen Keppens</b> and <b>Dr. Solon Pissis</b> of King's College London, for supervising the project and providing administrative support.</li>
        <li><b>Sebastian Grauwin</b>, for developing Bibliotools3.0, the back-end data processing prototype upon which ScienceScape<sup>S</sup> is based.</li>
      </ul>
    </div>

  </div> <!-- /section -->


  </div> <!-- /body container -->

{% endblock Content %}
