{% extends 'base.html' %}

{% load static %}

{% block aboutTabbedNavigation %}

  <!-- SUB NAV Tab Content -->
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#built-by">Built By</a></li>
      <li class="tab"><a href="#built-with">Built With</a></li>
      <li class="tab"><a href="#acknowledgements">Acknowledgements</a></li>
    </ul>
  </div>

  {% endblock aboutTabbedNavigation %}

  {% block Content %}

  <div class="container tabbed-page-container"> <!-- Page content to go within container -->

  <div class="section"></div>

  <div class="section about">

    <!-- Tab 1 -->
    <div id="built-by">
      <h3 class="center">Built By</h3>

      <!-- TODO Add modal with more info about The Codokans and links to our respective sites -->

      <ul class="collection the-codokans">

        <!-- Team Member 1 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/alex-jermstad-1.jpg' %}" alt="Alex Jermstad" class="circle">
              <span class="title">Alex Jermstad</span>
              <div class="social-links">
                <a href="https://github.com/AJerm"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
                <a href="https://www.linkedin.com/in/alex-jermstad"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
                <a href="https://www.twitter.com/jermstad"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-code tooltipped" data-position="bottom" data-delay="0" data-tooltip="Front End Framework with Django"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Designed with Materialize CSS & Patricles JS">brush</i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Particles JS">timeline</i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="fas fa-code-branch tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS"></i></div>
              <div class="col s4 m3"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5"></i></div>
              <div class="col s4 m3"><i class="fab fa-css3 tooltipped" data-position="bottom" data-delay="0" data-tooltip="CSS"></i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 2 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/britton-forsyth-1.jpg' %}" alt="Britton Forsyth" class="circle">
              <span class="title">Britton Forsyth</span>
              <div class="social-links">
                <a href="https://github.com/bforsyth927"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-terminal tooltipped" data-position="bottom" data-delay="0" data-tooltip="Back-end Scripts (Bibliotools refactoring)"></i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing: Back End"></i></div>
              <div class="col s4 m3"><i class="fas fa-code tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Login System">people</i></div>
              <div class="col s4 m3"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Database Setup"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Refactoring">call_split</i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 3 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/jack-hinshelwood-1.jpg' %}" alt="Jack Hinshelwood" class="circle">
              <span class="title">Jack Hinshelwood</span>
              <div class="social-links">
                <a href="https://github.com/JHinshelwood"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
                <a href="https://www.youtube.com/channel/UCdOPbgRDipWOhcAZoYFe9lQ"><i class="fab fa-youtube tooltipped" data-position="bottom" data-delay="0" data-tooltip="YouTube"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-terminal tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django End Framework & Functionality with Django"></i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing: Django End"></i></div>
              <div class="col s4 m3"><i class="fas fa-code tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="fab fa-python tooltipped" data-position="bottom" data-delay="0" data-tooltip="Python"></i></div>
              <div class="col s4 m3"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5"></i></div>
              <div class="col s4 m3"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Javascript"></i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 4 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/nathan-sibai-1.jpg' %}" alt="Nathan Al Sibai" class="circle">
              <span class="title">Nathan Al Sibai</span>
              <div class="social-links">
                <a href="https://github.com/Orionsgate"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-terminal tooltipped" data-position="bottom" data-delay="0" data-tooltip="Back-end Scripts (Bibliotools refactoring)"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Refactoring">call_split</i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing: Back End"></i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="fab fa-python tooltipped" data-position="bottom" data-delay="0" data-tooltip="Python"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Design">brush</i></div>
              <div class="col s4 m3"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5"></i></div>

            </div>
          </div>
        </li>

        <!-- Team Member 5 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/nicolas-volken-1.jpg' %}" alt="Nicolas Volken" class="circle">
              <span class="title">Nicolas Volken</span>
              <div class="social-links">
                <a href="https://github.com/nicolasvolken"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
                <a href="https://www.linkedin.com/in/nicolasvolken"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
                <a href="http://www.nicolasvolken.com/"><i class="fas fa-globe tooltipped" data-position="bottom" data-delay="0" data-tooltip="Website"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-terminal tooltipped" data-position="bottom" data-delay="0" data-tooltip="Back-end Scripts (Bibliotools refactoring)"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Refactoring">call_split</i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Design">brush</i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="fas fa-code tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
              <div class="col s4 m3"><i class="fab fa-python tooltipped" data-position="bottom" data-delay="0" data-tooltip="Python"></i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing: Front & Back End"></i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 6 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/paul-muresan-1.jpg' %}" alt="Paul Muresan" class="circle">
              <span class="title">Paul Muresan</span>
              <div class="social-links">
                <a href="https://github.com/mmuresanpaul"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
                <a href="https://www.linkedin.com/in/paul-mure%C8%99an-729253b1/"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-terminal tooltipped" data-position="bottom" data-delay="0" data-tooltip="Back-end Scripts (Bibliotools refactoring)"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Refactoring">call_split</i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing: Back End"></i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Design">brush</i></div>
              <div class="col s4 m3"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5 + CSS"></i></div>
              <div class="col s4 m3"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Javascript"></i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 7 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/saadman-sakib-1.jpg' %}" alt="Saadman Sakib" class="circle">
              <span class="title">Saadman Sakib</span>
              <div class="social-links">
                <a href="https://github.com/saadmansakib"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
                <a href="https://www.linkedin.com/in/saadman-sakib/"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
                <a href="http://www.saadmansakib.com/"><i class="fas fa-globe tooltipped" data-position="bottom" data-delay="0" data-tooltip="Website"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-code tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django"></i></div>
              <div class="col s4 m3"><i class="fab fa-python tooltipped" data-position="bottom" data-delay="0" data-tooltip="Python"></i></div>
              <div class="col s4 m3"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Javascript"></i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="fas fa-code-branch tooltipped" data-position="bottom" data-delay="0" data-tooltip="Sigma JS"></i></div>
              <div class="col s4 m3"><i class="fab fa-css3 tooltipped" data-position="bottom" data-delay="0" data-tooltip="CSS"></i></div>
              <div class="col s4 m3"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5, Design & Testing"></i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 8 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/shayne-alchoon-1.jpg' %}" alt="Shayne Alchoon" class="circle">
              <span class="title">Shayne Alchoon</span>
              <div class="social-links">
                <a href="https://github.com/BadButNotBoujee"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-code tooltipped" data-position="bottom" data-delay="0" data-tooltip="Front End Framework & Functionality with Django"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Interface Design">brush</i></div>
              <div class="col s4 m3"><i class="fab fa-js-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Javascript"></i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="fab fa-python tooltipped" data-position="bottom" data-delay="0" data-tooltip="Python using DJango Framework"></i></div>
              <div class="col s4 m3"><i class="fab fa-html5 tooltipped" data-position="bottom" data-delay="0" data-tooltip="HTML 5"></i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing"></i></div>
            </div>
          </div>
        </li>

        <!-- Team Member 9 -->
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s12 m3">
              <img src="{% static 'images/the-codokans/wonjoon-seol-1.jpg' %}" alt="Wonjoon Seol" class="circle">
              <span class="title">Wonjoon Seol</span>
              <div class="social-links">
                <a href="https://wonjoonseol.github.io/"><i class="fab fa-github-alt tooltipped" data-position="bottom" data-delay="0" data-tooltip="GitHub"></i></a>
                <a href="https://www.linkedin.com/in/wonjoonseol/"><i class="fab fa-linkedin-in tooltipped" data-position="bottom" data-delay="0" data-tooltip="LinkedIn"></i></a>
                <a href="https://github.com/wonjoonSeol"><i class="fab fa-twitter tooltipped" data-position="bottom" data-delay="0" data-tooltip="Twitter"></i></a>
              </div>
            </div>
            <div class="col s12 m4 skills">
              <div class="col s4 m3"><i class="fas fa-terminal tooltipped" data-position="bottom" data-delay="0" data-tooltip="Back-end Scripts (Bibliotools refactoring)"></i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Refactoring">call_split</i></div>
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Architecture Design and Class Diagrams">account_balance</i></div>
            </div>

            <div class="col s12 m5 skills">
              <div class="col s4 m3"><i class="material-icons tooltipped" data-position="bottom" data-delay="0" data-tooltip="Django & Deployment">cloud_upload</i></div>
              <div class="col s4 m3"><i class="fas fa-database tooltipped" data-position="bottom" data-delay="0" data-tooltip="Postgres Databases Setup"></i></div>
              <div class="col s4 m3"><i class="far fa-check-square tooltipped" data-position="bottom" data-delay="0" data-tooltip="Testing: Front & Back End"></i></div>
            </div>
          </div>
        </li>
      </ul>

      <section class="about-intro center">
        <p>Originally developed by Mathieu Jacomy at the <a href="http://medialab.sciences-po.fr/">Sciences-Po Medialab</a>.</p>
        <p>Refreshed, refactored and tuned up by <a href="#">The Codokans</a> in March 2018, a second year undergraduate computer science team from <a href="https://www.kcl.ac.uk/">King's College London</a>.</p>
      </section>
    </div>

    <!-- Tab 2 -->
    <div id="built-with" >
      <h3 class="center">Built With</h3>

      <h6 class="white-text center tagline">Tools & Frameworks Used</h6>
      <br>

      <div class="row center" style="margin-top:80px; margin-bottom:80px;">
        <div class="col s12 m6 l3" style="margin-bottom:30px;">
            <a href="https://www.python.org/">
              <img id="python-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/python-logo.png' %}" />
            </a>
        </div>
        <div class="col s12 m6 l3" style="margin-bottom:30px;">
          <a href="https://www.djangoproject.com/">
            <img id="django-logo " class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/django-logo.png' %}" />
          </a>
        </div>
        <div class="col s12 m6 l3" style="margin-bottom:30px;">
          <a href="https://www.heroku.com/">
            <img id="heroku-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/heroku-logo.png' %}" />
          </a>
        </div>
        <div class="col s12 m6 l3" style="margin-bottom:30px;">
          <a href="https://jquery.com/">
            <img id="jquery-logo" class="responsive-img built-with-logo-square" src="{% static 'images/tools/jquery-logo.gif' %}" />
          </a>
        </div>

        <div class="col s12 m6 l3" style="margin-bottom:30px;">
            <a href="http://materializecss.com/">
              <img id="materialize-logo" class="responsive-img built-with-logo-square" src="{% static 'images/tools/materialize-logo.png' %}" />
            </a>
        </div>

        <div class="col s12 m6 l3" style="margin-bottom:30px;">
          <a href="https://vincentgarreau.com/particles.js/">
            <img id="particles-js-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/particles-js-logo.png' %}" />
          </a>
        </div>

        <div class="col s12 m6 l3" style="margin-bottom:30px;">
          <a href="http://sigmajs.org/">
            <img id="sigma-js-logo" class="responsive-img built-with-logo-rectangle" src="{% static 'images/tools/sigma-js-logo.png' %}"/>
          </a>
        </div>

        <div class="col s12 m6 l3" style="margin-bottom:30px;">
          <a href="https://www.seleniumhq.org/">
            <img id="selenium-logo" class="responsive-img built-with-logo-square" src="{% static 'images/tools/selenium-logo.png' %}"/>
          </a>
        </div>


      </div>

    </div>

    <!-- Tab 3 -->
    <div id="acknowledgements">
      <h3 class="center">Acknowledgements</h3>

      <h6 class="white-text center tagline">With thanks to:</h6>
      <p>
        <a href="https://www.kcl.ac.uk/nms/depts/informatics/people/atoz/keppensj.aspx">Dr. Jeroen Keppens</a> and <a href="https://www.kcl.ac.uk/nms/depts/informatics/people/atoz/pississ.aspx">Dr. Solon Pissis</a> of King's College London, for supervising the project and providing administrative support.
      </p>
      <p>
        <a href="http://www.sebastian-grauwin.com/">Sebastian Grauwin</a>, for developing Bibliotools3.0, the back-end data processing prototype upon which ScienceScape<sup>S</sup> is based.
      </p>
      <div id="additional-thanks">
        <p>
          <h6 class="white-text center tagline">Addtional thanks to:</h6>
          <ul>
            <li>Tommaso Venturini</li>
            <li>Mathieu Jacomy</li>
            <li>Paul Girard</li>
            <li><a href="http://www.sciencespo.fr/en">Sciences Po France</a></li>
          </ul>
        </p>
        <p>
          And the developers of all the data science tools our website uses and builds upon
        </p>
      </div>
    </div>

  </div> <!-- /section -->

  </div> <!-- /body container -->

{% endblock Content %}
