{% extends "base.html" %}
{% load static %}
{% block Content %}

<div class="container">

    {% include "welcome_logo_slogan.html" %}

		<h5 style="text-align: center; color: red">{{msg}}</h5>
    <br>

    <div class="section">
     {% if user.is_authenticated %}

			<div class="card">
			  <div class="card-content">
			      <p>You are logged in as: <b>{{ user.username }}</b></p>
			      <p><a href="/logout">Logout</a></p>
			  </div> <!-- /card-content -->

			</div>
       {%endif%}
    </div>



    <br>
    <br>

   <div>
   {% include "fields.html" %}
   </div>

</div>



{% endblock %}
