

   <div class="row">

    <div class="card field-selector-header">
      <div class="card-content center">

        <h5>Choose fields for uploaded file <b><span id="uploaded-file-fields">{{filename}}<span></b></h5>
				<p>Match your file headers to a meaningful name.</p>
				<p style="color: red">{{message}}</p>
      </div> <!-- /card-content -->
    </div>

	</div> <!-- /row  -->

	<form action="" method="POST">
			<div class="row">

					{%csrf_token%}

					{{ fields.management_form }}
					{% for f in fields%}

					<!--{{ forloop.counter0 }} -->

					{% if forloop.counter|divisibleby:3%}
					<div class="col s4">
						<div class="card field-card">
							<div class="card-content">
						   <h5>Choose Field</h5>
							  <br>
								{{f.as_p}}
								<br>
				      	</div>
						</div>
					</div>

					{% elif forloop.counter|divisibleby:2%}
					<div class="col s4">
						<div class="card field-card">
							<div class="card-content">
						   <h5>Choose Field</h5>
							  <br>
								{{f.as_p}}
								<br>
				      	</div>
						</div>
					</div>

					{% else %}
					<div class="col s4">
						<div class="card field-card">
							<div class="card-content">
						   <h5>Choose Field</h5>
							  <br>
								{{f.as_p}}
								<br>
				      	</div>
						</div>
					</div>
					{% endif %}

					{%endfor%}

 				</div> <!-- /row  -->

 				<div class="row">
					<div class="card field-selector-footer">
						<div class="card-content center">
							<input type="submit" value="submit" class="btn upload-btn waves-effect"></input>
						</div>
					</div>
				</div> <!-- /row  -->


	</form>
