{% load static %}
<style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 500px;
    }
 </style>
 <div class="card graphs-buttons-card">
   <div class="card-content">
    <div class="row"> <!-- Graph button row -->
      <div class="col s12 center">
        <h5> Graph Controls</h5>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l3">
      Edge Weight Influence: <input type="text" id="edge-weight" value="0"><br>
		Gravity: <input type="text" id="gravity" value="1"><br>
		Iterations Per Render: <input type="text" id="iterations" value="1"><br>
		scaling Ratio: <input type="text" id="scaling" value="1"><br>
        <div class="center graph-control-button">
          <a class="waves-effect waves-light btn graph-select" onclick="startStopForceAtlas2(this)" id="start-force-atlas-2">
            <i class="material-icons left">play_arrow</i>
            <span class="graph-button-label">Start Force Atlas 2</span>
          </a>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="center graph-control-button">
          <a class="waves-effect waves-light btn graph-select" onclick="resetGraph()" id="reset">
            <i class="material-icons left">power_settings_new</i>
            <span class="graph-button-label">Reset</span>
            </a>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="center graph-control-button">
          <a class="waves-effect waves-light btn graph-select"  onclick="rearrageIntoCircle()" id="rearrange-to-circle">
            <i class="material-icons left">refresh</i>
            <span class="graph-button-label">Revert to Circle
            </span>
          </a>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="center graph-control-button">
          <div class="switch toggle-graph-edges">
            Graph Edges <br>
            <label class="center">
              Off
              <input checked onclick="turnOnOffEdges(this)"  type="checkbox" id="graph-edges">
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /Graph button row -->

<div class="row s12"> <!-- graph row -->
  <div class="card">
    <div class="card-content">

    <div class="row">
      <div class="col s11">
        <h5>{{filename}}</h5>
      </div>
      <div class="col s1">
        <div id="graph-info">
          <i class="material-icons tooltipped" data-position="left" data-delay="0" data-tooltip="Select a node to show a sub-graph and related data points to that node">info_outline</i>
        </div>
      </div>
    </div>

    <div id="graph-container"></div>
    </div>
  </div>
</div> <!-- /graph row -->

<!-- START SIGMA IMPORTS -->
<script src="{% static 'javascript/sigma.js-1.2.1/src/sigma.core.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/conrad.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/utils/sigma.utils.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/utils/sigma.polyfills.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/sigma.settings.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/classes/sigma.classes.dispatcher.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/classes/sigma.classes.configurable.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/classes/sigma.classes.graph.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/classes/sigma.classes.camera.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/classes/sigma.classes.quad.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/classes/sigma.classes.edgequad.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/captors/sigma.captors.mouse.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/captors/sigma.captors.touch.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/sigma.renderers.canvas.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/sigma.renderers.webgl.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/sigma.renderers.svg.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/sigma.renderers.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/svg/sigma.svg.utils.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/svg/sigma.svg.nodes.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/svg/sigma.svg.edges.curve.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/svg/sigma.svg.labels.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/renderers/svg/sigma.svg.hovers.def.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/middlewares/sigma.middlewares.rescale.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/middlewares/sigma.middlewares.copy.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/misc/sigma.misc.animation.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/misc/sigma.misc.bindEvents.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/misc/sigma.misc.bindDOMEvents.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/src/misc/sigma.misc.drawHovers.js'%}"></script>
<!-- END SIGMA IMPORTS -->
<script src="{% static 'javascript/sigma.js-1.2.1/plugins/sigma.parsers.gexf/gexf-parser.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/plugins/sigma.parsers.gexf/sigma.parsers.gexf.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/plugins/sigma.layout.forceAtlas2/worker.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/plugins/sigma.layout.forceAtlas2/supervisor.js'%}"></script>
<script src="{% static 'javascript/buttonControl.js'%}"></script>

<script>
    sigma.classes.graph.addMethod('subtree', function(nodeId) {
        var nodeIndex,
        subtree = {},
        index = this.allNeighborsIndex[nodeId] || {};

        for (nodeIndex in index)
        subtree[nodeIndex] = this.nodesIndex[nodeIndex];

        return subtree;
    });

    resetGraph();

    /**
    * Reset graph to original state
    * If original state does not have any coordinates arrange nodes to be
    circular
    *
    * @return {void}
    */
    function resetGraph(){
        document.getElementById("graph-container").innerHTML = "";
        graphs = [];
        var colourOfRestOfGraph = '#eee';

        var defaultNodeColor = '#366688';
        var defaultEdgeColor = '#333F50';

        sigma.parsers.gexf("{% static fpath%}", {container: 'graph-container'},
        function (sigmaObject) {
            var numberOfNodes = sigmaObject.graph.nodes().length;
            var counter = 0;

            sigmaObject.graph.nodes().forEach(function(node) {
                if (!node.x && !node.y) {
                    node.x =100 * Math.cos(2 * counter * Math.PI / numberOfNodes);
                    node.y =100 * Math.sin(2 *  counter * Math.PI / numberOfNodes);
                }

                if (!node.label) {
                    node.label = n.id;
                }

                if (!node.size) {
                    node.size = 1;
                }

                if (!node.color) {
                    node.color = defaultNodeColor;
                }

                counter++;
            });


            sigmaObject.graph.edges().forEach(function(edge) {
                if (!edge.color) {
                    edge.color = defaultEdgeColor;
                }
            });

            graphs.push(sigmaObject);
            turnOnOffEdges(document.getElementById("graph-edges"));

            // When the user clicks outside, the graph's colours are reset to the original.
            sigmaObject.graph.nodes().forEach(function(node) {
                node.originalColor = node.color;
            });

            sigmaObject.graph.edges().forEach(function(edge) {
                edge.originalColor = edge.color;
            });

            // Binds the subtree method added to each node when a clickNode event occurs.
            sigmaObject.bind('clickNode', function(nodeClickedOn) {
                var nodeId = nodeClickedOn.data.node.id,
                inSubtree = sigmaObject.graph.subtree(nodeId);
                inSubtree[nodeId] = nodeClickedOn.data.node;

                sigmaObject.graph.nodes().forEach(function(node) {
                    if (!inSubtree[node.id]) {
                        node.color = colourOfRestOfGraph;
                    }
                });

                sigmaObject.graph.edges().forEach(function(edge) {
                    if (!(inSubtree[edge.source] && inSubtree[edge.target])) {
                        edge.color = colourOfRestOfGraph;
                    }
                });

                sigmaObject.refresh();
            });


            sigmaObject.bind('clickStage', function(nodeClickedOn) {
                sigmaObject.graph.nodes().forEach(function(node) {
                    node.color = node.originalColor;
                });

                sigmaObject.graph.edges().forEach(function(edge) {
                    edge.color = edge.originalColor;
                });

                sigmaObject.refresh();
            });

            sigmaObject.refresh();

            }
        );
    }
</script>
