{% extends "base.html" %}

{% load static %}

{% block Content %}


<div class="container"> <!-- Page content to go within container -->

  <div class="section"></div>

<div id="logo-home" class="center">
  <img src="{% static 'images/vectorised-logo-outline-white.svg' %}" alt="ScienceScape Logo">
</div>

<h6 class="white-text center tagline">Scientometrics, made easy.
  <br>Visualising graphs, smoothly and conveniently. Get started <a href="https://github.com/wonjoonSeol/ScienceScape/wiki" target="_blank" style="color: #ffffff">here</a>.</h6>
<br>

  <div class="section">

{% include "logincard.html" %}

  </div>

  <div class="row text-center">


    <div class="col s12">
      {%if upload%}
        {% include "upload_form.html" %}
      {% elif filename%}
        {% include "file_preview.html" %}
      {%endif%}
      <br>
    <!--	{% include "DEVTOOLS.html" %} -->
    </div>


  </div>


  <div class="white-text center graphs-page">

    <div class="card graphs-buttons-card">
      <div class="card-content">

        <h5>Graph Controls</h6>

          <div class="row">
            <div class="col s6">
              <a class="waves-effect waves-light btn graph-select" id="start-force-atlas-2"><i class="material-icons left">play_arrow</i>Start Force Atlas 2</a>
              <br>
              <a class="waves-effect waves-light btn graph-select" id="stop-force-atlas-2"><i class="material-icons left">stop</i>Stop Force Atlas 2</a>
            </div>
            <div class="col s6">
              <a class="waves-effect waves-light btn graph-select" id="reset"><i class="material-icons left">power_settings_new</i>Reset</a><br>

              <a class="waves-effect waves-light btn graph-select" id="rearrange-to-circle"><i class="material-icons left">refresh</i>Rearrange to Circle</a>
            </div>
              <div class="col s6">
                <!-- Switch -->
                <br>
                <div class="switch toggle-graph-edges">
                  Graph Edges
                  <label>
                    Off
                    <input type="checkbox" id="graph-edges">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
              </div>
              <div class="col s6">
                <!-- Search - TODO - Add Autocomplete? Forms -->
                <form id="graph-node-search">
                  <div class="input-field">
                    <input id="search" type="search" placeholder="Node Search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div>
          </div>




          </div> <!-- End Card Content -->
        </div> <!-- End Card -->






  </div>

	<br>

	<br>

	<div class="row">
		<div class="col-sm-2">

		</div>
		<div class="col-sm-8">
			<div>
				{%if fields%}
					{% include "fields.html" %}
				{%endif%}
			</div>
		</div>
		<div class="col-sm-2">

		</div>

		</div>
	</div>



	<div class="row">
		<div class="col s1">

		</div>
		<div class="col s10">
			<div>

				{%if fpath%}
				{% include "graph_template.html" %}
				{%endif%}
			</div>
		</div>
		<div class="col s1">

		</div>

		</div>
	</div>

</div> <!-- /body container -->


{% endblock %}
