{% extends "base.html" %}
{% load static %}
{% block Content %}

<div class="container">

    <div class="welcome-section"></div>

    <div id="logo-home" class="center">
        <img src="{% static 'images/vectorised-logo-outline-white.svg' %}" alt="ScienceScape Logo">
    </div>

    <h6 class="white-text center tagline">
        <b>Scientometrics, made easy</b>
        <br>Visualising graphs, smoothly and conveniently. Get started <a href="https://github.com/wonjoonSeol/ScienceScape/wiki" target="_blank" style="color: #ffffff">here</a>.
    </h6>
		<h5 style="text-align: center; color: red">{{msg}}</h5>
    <br>

    <div class="section">
       {% if user.is_authenticated %}

			<div class="card logged-in center">
			  <div class="card-content">
			      You are logged in as:

              <b>{{ user.username }}</b>



              <a href="/logout" class="btn waves-effect waves-lighten upload-btn right">Logout</a>

			  </div> <!-- /card-content -->

			</div>
       {%endif%}
    </div>

    <div class="row text-center">
        <div class="col s12">
                {% include "upload_form.html" %}
            <br>
        </div>
    </div>



    <br>
    <br>


</div>


{% endblock %}
