{% extends "base.html" %}
{% load static %}
{% block Content %}

<div class="container">

    {% include "welcome_logo_slogan.html" %}
    {% if msg.strip %}
      <div class="card-panel error-card red darken-3 center">
        <p class="error-message text-white center">{{msg}}</p>
      </div>
    {% endif %}

   <div class="row">
		<div class="col s4"></div>
        <form class="col s4"  method="POST"enctype="multipart/form-data" >
			<div class="card white">
        <br>
        <div class="center">Enter Years in YYYY Format</div>
				<div class="card-content">
				     {% csrf_token %}
            		{{years}}
         			 <button class="btn waves-effect waves-red blue darken-4" type="submit" value="submit">Next</button>
				</div>
			</div>

        </form>
        <div class="col s4"></div>

  </div>
    <br>
    <br>
    <div class="row">

    </div>
</div>

<div class="row">

</div>

{% endblock %}
