{% extends 'base.html' %}

{% load static %}


{% block Content %}

<div class="container white-text center">

  <h1>Welcome <i>username<i></h1>

  <h5>Uploaded Files</h2>

  <div class="card account-card">
    <div class="card-content">

      <table>
        <thead>
          <tr>
              <th>File Number</th>
              <th>File Name</th>
              <th>Date Uploaded</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>WoS-Data.csv</td>
            <td>3/3/2018 1:22pm</td>
            <td><a href="#!" class="btn waves-effect waves-lighten blue darken-4 accountButton">Edit Fields</a></td>
            <td><a href="#!" class="btn waves-effect waves-lighten blue darken-4 accountButton">Delete</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>WoS-Data2.csv</td>
            <td>4/3/2018 12:12pm</td>
            <td><a href="#!" class="btn waves-effect waves-lighten blue darken-4 accountButton">Edit Fields</a></td>
            <td><a href="#!" class="btn waves-effect waves-lighten blue darken-4 accountButton">Delete</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td>WoS-Data3.csv</td>
            <td>7/3/2018 14:52pm</td>
            <td><a href="#!" class="btn waves-effect waves-lighten blue darken-4 accountButton">Edit Fields</a></td>
            <td><a href="#!" class="btn waves-effect waves-lighten blue darken-4 accountButton">Delete</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>




</div>


{% endblock Content %}
