{% load static %}

<style type="text/css">
  #sigma-container {
    max-width: 400px;
    height: 400px;
    margin: auto;
  }
</style>

<div class="card">
<div class="card-header bg-dark" style="color: white">Test graph's file path is: {{filePath}}</div>
<div class="card-body">
    <div id="sigma-container">

    </div>
</div>
</div>


<script src="{% static 'javascript/sigma.js-1.2.1/build/sigma.min.js'%}"></script>

<script src="{% static 'javascript/sigma.js-1.2.1/build/plugins/sigma.parsers.json.min.js'%}"></script>
<script src="{% static 'javascript/sigma.js-1.2.1/build/plugins/sigma.parsers.gexf.min.js'%}"></script>
<script>
  sigma.parsers.gexf(
    'yeast.gexf',
    {
      container: 'sigma-container'
    }
  );
</script>
