{% extends "base.html" %}

{% block Content %}

	<br>

	<div class="row text-center">
		<div class="col-sm-2">

		</div>

		<div class="col-sm-8">
			{%if upload%}
				{% include "search_bar.html" %}
			{% else %}
				{% include "file_preview.html" %}
			{%endif%}
			<br>
			{% include "DEVTOOLS.html" %}
		</div>

		<div class="col-sm-2">

		</div>


	</div>

	<br>

	<div class="row">
		<div class="col-sm-2">

		</div>
		<div class="col-sm-8">
			<div>
				{%if fields%}
					{% include "fields.html" %}
				{%endif%}
			</div>
		</div>
		<div class="col-sm-2">

		</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">

		</div>
		<div class="col-sm-8">
			<div>
				{% include "graph_template.html" %}

			</div>
		</div>
		<div class="col-sm-2">

		</div>

		</div>
	</div>




{% endblock %}
