/*******************
 Base HTML Template
 *******************/

body,
html {
    height: 100%
}

html h1 {
  font-weight:100 ;
  font-style: normal;
  text-shadow: 2px 2px 4px #143e61;
  font-size: 4em;
}

/* Navigation bar */

nav {
  background-color: #1f638478;
}

#nav-h1{
  margin: 0;
}

nav .dropdown-content {
  background-color: transparent;
}

nav .dropdown-content li {
  background-color: rgba(22, 97, 139, 1) !important;
}

.nav-wrapper {
  /* background-color: #fff; */
}

nav .dropdown-content li.top-level:hover,
.side-nav li.top-level:hover {
  background-color: rgba(6, 80, 122, .91);
}

/* nav .dropdown-button {
  color: #348ec1
} */

nav .dropdown-content  a {
  color: white !important;
}

#nav-login-btn {
  color: #E0F2F1;
  background-color: transparent;
  border: 1px solid #ffffff;
}

#nav-login-btn:hover {
  background-color: #005e8c !important;
  color: white;
}

/* Side navigation bar */

.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body {
  background-color: transparent;
}

.side-nav li.active {
  background-color: transparent;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
  padding: 0 32px;
}

.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
  padding-left: 50px;
}

.side-nav li.active:hover,
.side-nav.fixed li.active:hover {
  background-color: transparent !important;
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover,
.side-nav .collapsible-body li:hover,
.side-nav.fixed .collapsible-body li:hover {
  background-color: rgba(6, 80, 122, .91) !important;
}

.side-nav {
  background-color: #348ec194;
}

.side-nav li>a,
.side-nav li>a>i {
  color: white !important;
}

.side-nav .user-view img {
  height: 70px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.side-nav .user-view {
  margin-top: 20px;
}

.button-collapse {
  color: #348ec1;
}

/* Page Footer */

.page-footer {
  background-color: rgba(0,0,0,0.7) !important;
}

.page-footer h6 {
  text-shadow: 1px 1px 1px #143e61;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.page-footer .underline a {
  text-decoration: underline !important;
}

footer a {
  color: blue;
}


/*******************
 Index Template
 *******************/

#logo-home img {
  width: 150px;
  height: 150px;
  padding-bottom: 20px;
}

/* Graphs module */

.graphs-page .card {
  color: black;
}

.graphs-page h5 {
  font-weight: lighter;
  font-style: italic;
}

.graph-container {
  height: 500px;
}

.graphs-page .btn {
  margin: 4px;
  width: 275px;
}

#graph-node-search {
  margin: 0 12%;
}

.toggle-graph-edges {
  text-transform: uppercase;
  color: #0D47A1;
  margin-top: 5px;
}

.toggle-graph-edges label {
  margin-right: 10px;
  margin-left: 10px;
}

.graph-edges-container{
  border: 1px solid blue;
  width: 275px;
  padding: 0 2rem;
}

.graph-select:hover {
  background-color: #0D47A1 !important;
  color: white;
}

.graph-select {
  color: #0D47A1;
  background-color: white !important;
  border: 1px solid #0D47A1;
}

/* Sigma.js */

#json-test-sigma-container {
  height: 400px;
  margin: auto;
}

/**************
 About page
 **************/

 /* About Page Tabs */

 .tabs {
     display: -webkit-box !important;
     display: -webkit-flex!important;
     display: -ms-flexbox !important;
     display: flex !important;
 }

 .tabs .tab {
     -webkit-box-flex: 1 !important;
     -webkit-flex-grow: 1 !important;
     -ms-flex-positive: 1 !important;
     flex-grow: 1 !important;
 }

 .tabs .tab a {
     padding: 0 12px !important;
 }

.about h1,
.about h2,
.about h3,
.about h4,
.about h5,
.about h6 {
  color: white;
  text-shadow: 1px 1px 8px #000000;
  font-weight: lighter;
}

.about-intro {
  color: white;
}

.about-intro a,
#built-with a,
#related-tools a,
#related-tools a {
  color: white;
  text-decoration: underline;
}

#related-tools p {
  color: white;
}

.tabbed-page-container {
  margin-top: 20px;
}

/* Font Awesome */
.fa,
.fab {
  font-size: 14pt;
}

.fas {
  font-size: 13pt;
}

/*******************
 User Account Page
 *******************/

 .accountButton {
   border: 1px solid white !important;
 }

 .account-card {
   color: black;
 }

/*******************
Graph Controls
*******************/

/* Toggle Graph Edges */
.switch label input[type=checkbox]:checked+.lever {
  background-color: #81acee;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #0D47A1;
}

.field-selector-header,
.field-selector-footer {
      background: #ccccccb3;
}

/* Search Box */
input[type=search]:focus {
  border-bottom: 1px solid #0D47A1 !important;
  -webkit-box-shadow: 0 1px 0 0 #0D47A1 !important;
  box-shadow: 0 1px 0 0 #0D47A1 !important;
}

input[type=search] {
  width: 82% !important;
  padding-left: 50px !important;
}

/*******************
 Miscellaneous
 *******************/

.tagline {
  text-shadow: 1px 1px 8px #000000;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.7;
}

.tagline a {
  text-decoration: underline;
}

.card-image {
  padding: 30px 30px 0px 30px;
}

.card-image img {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-weight: bold;
}

.card .dropdown-content li>a,
.card .dropdown-content li>span {
  color: #0D47A1;
}

#dropdown-list-1 li a {
  color: darkblue;
}


/* Slider */
.noUi-tooltip {
  background-color: #0D47A1 !important;
}

.noUi-connect {
  background-color: #81acee;
}

.welcome-section {
    height: 80px;
}


.upload-btn {
      background-color: #007baa
}
